* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
}

header {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    padding: 25px;
    font-weight: bold;
    font-size: 25px;
    text-decoration: none;
    color: #333;
}

nav ul li a:hover {
    color: white;
    background-color: #666666;
}

nav ul li:hover {
    background-color: #666666;
}

.hero {
    background-image: url('photos/mainphoto.jpeg');
    background-size: cover;
    background-position: center;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff;
    text-align: center;
}

.hero h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

.btn {
    display: inline-block;
    background-color: #0077c0;
    color: #fff;
    font-size: 1.2rem;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
    transition: all 0.3s ease;
    text-decoration: none;
}

.btn:hover {
    background-color: #0062a0;
}

.grid-container {
    text-align: center;
}

.item {
    display: inline-block;
    width: calc(30%);
    margin: 10px;
    padding: 10px;
    background-color: #f5f5f5;
    border-radius: 20px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: #333;
}